.navigation {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  z-index: 2;
  position: fixed;
  top: auto;
}

.navigation.background-on {
  background-color: #4784d4;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
}

.navigation span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

.navigation p {
  margin: 0px;
}

.toggle-compose:hover {
  cursor: pointer;
}

@keyframes bounce{
  50% {
    transform: translateY(0px);
  }
  60%{
    transform: translateY(-4px);
  }
  70% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(-4px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  } 
}

.toggle-compose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 1em, 0em;
}

.fa-angle-double-down {
  color: red;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate-reverse; */
  animation-delay: 2s;
}

@media (max-width:450px) {
  .navigation {
    height: 6em;
  }
  
  .navigation p {
    font-size: .75em;
  }

  .navigation > span {
    text-size-adjust: .5em;
  }
}