.new-tweet {
  width: 100%;
  align-items: stretch;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
}

#submit-tweet {
  background-color: #4056A1;
  color: #f4f1ec;
  padding: .1em .5em .1em .5em;
}

#submit-tweet:hover {
  box-shadow: 5px 5px 5px lightsteelblue;
  font-size: 105%;
  padding: .07em .5em .07em .5em;
}

.tweet-form-footer {
  margin-top: 10px;
  border-top: 3px solid gray;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: 'Bungee', sans-serif;
  font-size: .8em;
}

#tweet-text {
  background-color: transparent;
  border: none;
  font-size: .8em;
  resize: none;
  height: 1.5em;
}

#counter.negative {
  color: red;
}