article.tweet {
  width: 100%;
  height: fit-content;
  border: 3px solid gray;
  margin: 1em 0em 1em 0em;
  padding: 0em .5em 0em .5em;
}

article.tweet:hover {
  box-shadow:5px 5px 7px lightsteelblue
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5em;
  background-image: none;
  background-color: #f4f1ec;
}

article.tweet header a {
  color: lightsteelblue
}

article.tweet content {
  flex-wrap: wrap;
  font-size: large;
}

article.tweet footer {
  margin-top: 1em;
  border-top: 3px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.hover-icon {
  transition: color .1s linear;
}

.hover-icon:hover {
  color:darkgoldenrod;
}